*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cairo', sans-serif;
}

.title{
    font-size: 5rem;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center; 
    flex-direction: column;
    justify-content: center;
}

.time_container{
  display: flex;
  justify-content: space-around;
}

.cont{
    text-align: center;
    font-weight: 200;
}
.TimeDay, .TimeHour,.TimeMinute,.TimeSecond{
    font-size: 3rem;
}

.image {
    border-radius: 4px;
    padding: 5px;
    width: 50%;
  }

